
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 195 100% 23%;
    --primary-foreground: 210 40% 98%;

    --secondary: 24 95% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 199 89% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 195 100% 23%;

    --radius: 0.5rem;

    --sidebar-background: 195 100% 23%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 24 95% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 195 100% 13%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 195 100% 33%;
    --sidebar-ring: 195 100% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.mapboxgl-map {
  font: inherit;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-popup-content {
  @apply bg-background border border-border shadow-lg px-4 py-2 rounded-md;
}

input[type="file"]::file-selector-button {
  @apply bg-primary text-primary-foreground px-4 py-2 rounded-md border-0 mr-2 cursor-pointer;
  transition: 200ms background ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  @apply bg-primary/90;
}
